<?xml version="1.0" encoding="utf-8"?>
<appSettings>



  <!-- 客户端信息配置 -->
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="永朔软件" />
  <!-- 配置信息存储方式 -->
  <add key="ConfigurationFrom" value="Configuration" />
  <!-- 软件名称 -->
  <add key="SoftName" value="RDIFramework.NET V3.0" />
  <!-- 软件全称 -->
  <add key="SoftFullName" value="RDIFramework.NET ━ .NET快速信息化系统开发框架 V3.0" />
  <!-- 软件版本 -->
  <add key="Version" value="V3.0" />
  <!-- 根菜单编号 -->
  <add key="RootMenuCode" value="RDIFramework.MvcApp" />
  <!-- 检测用户是否在线（为True:不允许重复登录） -->
  <add key="CheckOnLine" value="false" />
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- ==================数据库连接相关配置 ================== -->
  <!-- RDIFramework.NET框架数据库类型（SqlServer）-->
  <add key="RDIFrameworkDbType" value="SqlServer" />
  <!-- 业务逻辑数据库类型（SqlServer）-->
  <add key="BusinessDbType" value="SqlServer" />
  <!-- 是否加密存储数据库连接字符串-->
  <add key="EncryptDbConnection" value="false" />
  <!--SQLSERVER参考配置-->
  <!-- .RDIFramework.NET框架数据库连接字符串-->
  <add key="RDIFrameworkDbConection" value="Data Source=192.168.0.168;Initial Catalog=RDIFrameworkV3.0;UID=sa;Password=12345qwert!@#$%" />
  <!-- 业务数据库连接字符串-->
  <add key="BusinessDbConnection" value="Data Source=192.168.0.168;Initial Catalog=RDIFrameworkV3.0;UID=sa;Password=12345qwert!@#$%" />

  <!-- ==================二、服务器端配置项 ================== -->
  <!-- 启用用户授权 -->
  <add key="EnableUserAuthorization" value="True" />
  <!-- 启用模块菜单权限 -->
  <add key="EnableModulePermission" value="True" />
  <!-- 启用操作/功能权限 -->
  <add key="EnablePermissionItem" value="True" />
  <!-- 远程调用服务的用户名 -->
  <add key="ServiceUserName" value="RDIFramework.NET" />
  <!-- 远程调用服务的密码 -->
  <add key="ServicePassword" value="ojaS0yGinUa7D4/lBfKb8IM8DeYTJu18ohIj57Msbc8=" />


  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--收费地址-->
  <add key="chargeUserId" value="http://192.168.0.168" />
  <!--OA地址-->
  <add key="OAUrl" value="http://localhost:53053/ProxyIn.aspx" />

  <add key="EAMUrl" value="http://localhost:53052/ProxyIn.aspx" />
  <!--系统图标-->
  <add key="SysPicUrl" value="/image/sqq/"/>
  <add key="CenterPic" value="hospital_1.png"/>
  <add key="AuthName" value="此产品注册给：四川省从业人员体检信息综合管理系统" />
  <add key="CopyRight" value="copyright © 2008-2016 联系电话：028-83337515 成都永朔科技有限公司"/>

  <!--系统名称-->
  <add key="SysName" value="Trunk1疾病预防控制中心信息管理云平台"/>

  <!--打印格式 1*5 或者 2*5 默认为 1*1-->
  <add key="printformat" value=""/>
  <add key="printformatNum" value="2"/>
  <!--打印格式 X Y 轴 偏转位移 px-->
  <add key="deflection" value="355,235"/>

  <!--读卡器类型 1:精伦 2:新中新-->
  <add key="readCardType" value="1"/>


  <!--是否直接打印 true:直接打印  空为打印预览-->
  <add key="printType" value="true"/>
  <!--默认打印机的名字-->
  <add key="printName" value=""/>

  <!--健康证打印机名称-->
  <add key="jkzprintName" value="Panasonic KX-MB2008CN"/>
  <!--只用于健康证出证打印 设置缩放比例 规则：55%  Width:200%  Width:200%;Height:200%-->
  <add key="varModeValue" value="100%"/>
  <!--健康证打印方式 1:普通分页打印 2：性能打印-->
  <add key="printMode" value="1"/>
  <add key="jkzPage" value="10"/>
  <!--模板地址-->
  <add key="PrintTemp" value= "~/PrintTemp" />
  <!--健康证自定义编号开始-->
  <add key="jkz" value="0"/>
  <!--体检大类-->
  <add key="hylb" value="0001" />

  <!--行业类别-->
  <add key="UnitType" value="0002" />

  <!--单位规模-->
  <add key="UnitScale" value="0003" />

  <!--体检结论判断符号配置-->
  <add key="Condition" value="0004" />

  <!--行政区域-->
  <add key="UnitArea" value="510000" />

  <!--项目属性-->
  <add key="ProType" value="0006" />

  <!--机构属性配置-->
  <add key="OProperty" value="1" />

  <!--卫生种类-->
  <add key="HeathType" value="0007"/>

  <!--文化程度(学历)-->
  <add key="Degree" value="0008"/>


  <add key="connectstring" value="server=192.168.0.42;database=Uoso.GaoPing20161115;User ID=sa;Password=lym123!@#;Integrated Security=false;" />

  <!--集成登录 非集成登录-->
  <add key="loginPro"  value=""/>
  <!--登录检查地址-->
  <add key="TokenUrl"  value="http://192.168.0.225:50100/GetToken.aspx"/>
  <!--登录地址-->
  <add key="LoginUrl"  value="http://192.168.0.225:50100/default.aspx"/>
  <!--本系统地址-->
  <add key="BackUrl" value="http://localhost:3280/home/index"/>
  <!--体检系统在权限系统中模块对应的Id-->
  <add key="QXCode" value="eb5f550e-d3f9-47b3-aaf1-40037f1faa6b"/>
  <!--收费系统在权限系统中模块对应的Id 3c35ae96-71fe-4240-93be-677d7d1aa6e8-->
  <add key="SFCode" value=""/>
  <!--健康证系统在权限系统中模块对应的Id 1fe83f79-3b54-49e0-8954-e093d6c53a21-->
  <add key="JKZCode" value="1fe83f79-3b54-49e0-8954-e093d6c53a21"/>

  <!--<add key="ServerIP" value="221.237.158.212" /> 外网IP-->
  <!--上传健康证 FTP服务器配置-->
  <add key="ServerIP" value="192.168.0.60" />
  <add key="ServerPort" value="1234" />
  <add key="Username" value="001" />
  <add key="Password" value="123" />

  <!--开启判断剩余(下面的几个项目总开关)-->
  <add key="JudgeRemainCountSwitch" value="true"/>
  <!--开启区分上下午模式:  开启:true-->
  <add key="SwitchSplitDay" value="false"/>
  <!--每天最多可普通登记的人数(开启区分上下午后请配置下面两个,不开启区分上下午配置这个既可限制每日的人数)-->
  <add key="RegisterMaxCountInADay" value="180"/>
  <!--早上人数-->
  <add key="MorningCount" value="10"/>
  <!--下午人数-->
  <add key="AfternoonCount" value="10"/>


  <!--是否开启接口登记判断以前发证记录-->
  <add key="DontAllowRegisterIfhaveCard" value="true"/>
  <!--是否判断是同样的卫生种类(DontAllowRegisterIfhaveCard开启后此配置才生效)-->
  <add key="JudgeHealthCardType" value="true"/>

  <!--是否启用LED-->
  <add key="LEDUsing" value="false"/>
  <!--设为固定IP通讯模式，即TCP通讯-->
  <add key="SendType" value="0"/>
  <!--给IpStr赋值LED控制卡的IP-->
  <add key="IpStr" value="192.168.0.187"/>
  <!--LED屏号为1，注意socket通讯和232通讯不识别屏号，默认赋1就行了，485必需根据屏的实际屏号进行赋值-->
  <add key="LedNumber" value="1"/>
  <!-- (64, 32, 2)根据传的参数创建节目句柄，64是屏宽点数，32是屏高点数，2是屏的颜色，注意此处屏宽高及颜色参数必需与设置屏参的屏宽高及颜色一致，否则发送时会提示错误-->
  <!-- 屏宽点数-->
  <add key="PWidth" value="64"/>
  <!-- 屏高点数-->
  <add key="PHeight" value="32"/>
  <!-- 屏的颜色-->
  <add key="PColor" value="1"/>
  <!--批量打印健康证的条数限制-->
  <add key="BatchNumber" value="30"/>

  <!--健康证办证时间限制月数-->
  <add key="Months" value="11"/>
  <!--是否显示剩余人数提示  显示:true 不显示:false-->
  <add key="RemainBoxDisplayed" value="false"/>

  <!--CDCCODE 疾控代码 数据上传需要 青白江: 51033101 , -->
  <add key="CDCCode" value=""/>

  <!--使用全格式健康证 true:是 false:不是 上传是判断: 全格式:川(yyyy)cdcCode-number  非全格式:number -->
  <add key="FullHealthNumber" value="true"/>


</appSettings>
