<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 客户端信息配置 -->
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="永朔软件" />
  <!-- 配置信息存储方式 -->
  <add key="ConfigurationFrom" value="Configuration" />
  <!-- 软件名称 -->
  <add key="SoftName" value="RDIFramework.NET V3.0" />
  <!-- 软件全称 -->
  <add key="SoftFullName" value="RDIFramework.NET ━ .NET快速信息化系统开发框架 V3.0" />
  <!-- 软件版本 -->
  <add key="Version" value="V3.0" />
  <!-- 根菜单编号 -->
  <add key="RootMenuCode" value="RDIFramework.MvcApp" />
  <!-- 检测用户是否在线（为True:不允许重复登录） -->
  <add key="CheckOnLine" value="false" />
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- ==================数据库连接相关配置 ================== -->
  <!-- RDIFramework.NET框架数据库类型（SqlServer）-->
  <add key="RDIFrameworkDbType" value="SqlServer" />
  <!-- 业务逻辑数据库类型（SqlServer）-->
  <add key="BusinessDbType" value="SqlServer" />
  <!-- 是否加密存储数据库连接字符串-->
  <add key="EncryptDbConnection" value="false" />
  <!--SQLSERVER参考配置-->
  <!-- .RDIFramework.NET框架数据库连接字符串-->
  <add key="RDIFrameworkDbConection" value="Data Source=192.168.0.168;Initial Catalog=RDIFrameworkV3.0;UID=sa;Password=12345qwert!@#$%" />
  <!-- 业务数据库连接字符串-->
  <add key="BusinessDbConnection" value="Data Source=192.168.0.168;Initial Catalog=RDIFrameworkV3.0;UID=sa;Password=12345qwert!@#$%" />
  <!-- ==================二、服务器端配置项 ================== -->
  <!-- 启用用户授权 -->
  <add key="EnableUserAuthorization" value="True" />
  <!-- 启用模块菜单权限 -->
  <add key="EnableModulePermission" value="True" />
  <!-- 启用操作/功能权限 -->
  <add key="EnablePermissionItem" value="True" />
  <!-- 远程调用服务的用户名 -->
  <add key="ServiceUserName" value="RDIFramework.NET" />
  <!-- 远程调用服务的密码 -->
  <add key="ServicePassword" value="ojaS0yGinUa7D4/lBfKb8IM8DeYTJu18ohIj57Msbc8=" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--收费地址-->
  <add key="chargeUserId" value="http://192.168.0.168" />
  <!--OA地址-->
  <add key="OAUrl" value="http://localhost:53053/ProxyIn.aspx" />
  <add key="EAMUrl" value="http://localhost:53052/ProxyIn.aspx" />
  <!--系统图标-->
  <add key="SysPicUrl" value="/image/sqq/" />
  <add key="CenterPic" value="hospital_1.png" />
  <add key="AuthName" value="此产品注册给：四川省从业人员体检信息综合管理系统" />
  <add key="CopyRight" value="copyright © 2008-2016 联系电话：028-83337515 成都永朔科技有限公司" />
  <!--系统名称-->
  <add key="SysName" value="Trunk1疾病预防控制中心信息管理云平台" />
  <!--打印格式 1*5 或者 2*5 默认为 1*1-->
  <add key="printformat" value="" />
  <add key="printformatNum" value="2" />
  <!--打印格式 X Y 轴 偏转位移 px-->
  <add key="deflection" value="355,235" />
  <!--读卡器类型 1:精伦 2:新中新-->
  <add key="readCardType" value="1" />
  <!--是否直接打印 true:直接打印  空为打印预览-->
  <add key="printType" value="true" />
  <!--默认打印机的名字-->
  <add key="printName" value="" />
  <!--健康证打印机名称-->
  <add key="jkzprintName" value="Panasonic KX-MB2008CN" />
  <!--只用于健康证出证打印 设置缩放比例 规则：55%  Width:200%  Width:200%;Height:200%-->
  <add key="varModeValue" value="100%" />
  <!--健康证打印方式 1:普通分页打印 2：性能打印-->
  <add key="printMode" value="1" />
  <add key="jkzPage" value="10" />
  <!--模板地址-->
  <add key="PrintTemp" value="~/PrintTemp" />
  <!--健康证自定义编号开始-->
  <add key="jkz" value="0" />
  <!--体检大类-->
  <add key="hylb" value="0001" />
  <!--行业类别-->
  <add key="UnitType" value="0002" />
  <!--单位规模-->
  <add key="UnitScale" value="0003" />
  <!--体检结论判断符号配置-->
  <add key="Condition" value="0004" />
  <!--行政区域-->
  <add key="UnitArea" value="510000" />
  <!--项目属性-->
  <add key="ProType" value="0006" />
  <!--机构属性配置-->
  <add key="OProperty" value="1" />
  <!--卫生种类-->
  <add key="HeathType" value="0007" />
  <!--文化程度(学历)-->
  <add key="Degree" value="0008" />
  <add key="connectstring" value="server=192.168.0.42;database=Uoso.GaoPing20161115;User ID=sa;Password=lym123!@#;Integrated Security=false;" />
  <!--集成登录 非集成登录-->
  <add key="loginPro" value="" />
  <!--登录检查地址-->
  <add key="TokenUrl" value="http://192.168.0.225:50100/GetToken.aspx" />
  <!--登录地址-->
  <add key="LoginUrl" value="http://192.168.0.225:50100/default.aspx" />
  <!--本系统地址-->
  <add key="BackUrl" value="http://localhost:3280/home/index" />
  <!--体检系统在权限系统中模块对应的Id-->
  <add key="QXCode" value="eb5f550e-d3f9-47b3-aaf1-40037f1faa6b" />
  <!--收费系统在权限系统中模块对应的Id 3c35ae96-71fe-4240-93be-677d7d1aa6e8-->
  <add key="SFCode" value="" />
  <add key="JKZCode" value="1fe83f79-3b54-49e0-8954-e093d6c53a21" />
  <add key="ServerIP" value="192.168.0.60" />
  <add key="ServerPort" value="1234" />
  <add key="Username" value="001" />
  <add key="Password" value="123" />
  <add key="JudgeRemainCountSwitch" value="true" />
  <add key="SwitchSplitDay" value="false" />
  <add key="RegisterMaxCountInADay" value="180" />
  <add key="LEDUsing" value="false" />
  <add key="SendType" value="0" />
  <add key="IpStr" value="192.168.0.187" />
  <add key="LedNumber" value="1" />
  <add key="PWidth" value="64" />
  <add key="PHeight" value="32" />
  <add key="PColor" value="1" />
  <add key="BatchNumber" value="30" />
  <add key="Months" value="11" />
  <add key="RemainBoxDisplayed" value="false" />
  <add key="CDCCode" value="" />
  <add key="FullHealthNumber" value="true" />
  <add key="MorningCount" value="10" />
  <add key="AfternoonCount" value="10" />
  <add key="DontAllowRegisterIfhaveCard" value="true" />
  <add key="JudgeHealthCardType" value="true" />
  <!--健康证系统在权限系统中模块对应的Id 1fe83f79-3b54-49e0-8954-e093d6c53a21-->
</appSettings>